Repository pysat/pysat, pull requests merged in 2023-10, with the labels that each got.

#1140 BUG: sphinx and pandas caps
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  test_requirements.txt
Labels: bug, documentation

#1143 MAINT: remove support for meta children and 2d pandas
  CHANGELOG.md
  docs/api.rst
  docs/dependency.rst
  docs/instruments/testing_instruments.rst
  docs/tutorial/tutorial_files.rst
  pysat/_instrument.py
  pysat/_meta.py
  pysat/instruments/__init__.py
  pysat/instruments/methods/general.py
  pysat/instruments/methods/testing.py
  pysat/instruments/pysat_testing2d.py
  pysat/tests/classes/cls_instrument_access.py
  pysat/tests/test_instrument.py
  pysat/tests/test_instrument_index.py
  pysat/tests/test_instrument_padding.py
  pysat/tests/test_instruments.py
  pysat/tests/test_meta.py
  pysat/tests/test_meta_labels.py
  pysat/tests/test_utils_coords.py
  pysat/tests/test_utils_io.py
  pysat/utils/io.py
Labels: breaking change

#1145 MAINT: remove `pysat_testing_xarray` and `pysat_testing2d_xarray`
  CHANGELOG.md
  docs/api.rst
  docs/dependency.rst
  docs/instruments/testing_instruments.rst
  docs/quickstart.rst
  pysat/instruments/__init__.py
  pysat/instruments/pysat_ndtesting.py
  pysat/instruments/pysat_testing2d_xarray.py
  pysat/instruments/pysat_testing_xarray.py
  pysat/tests/test_instrument.py
  pysat/tests/test_instrument_custom.py
  pysat/tests/test_instrument_index.py
  pysat/tests/test_instrument_padding.py
  pysat/tests/test_instruments.py
  pysat/tests/test_meta.py
  pysat/tests/test_orbits.py
  pysat/tests/test_utils_coords.py
  pysat/tests/test_utils_io.py
Labels: breaking change

#1146 MAINT: remove deprecated instrument test class
  CHANGELOG.md
  pysat/tests/instrument_test_class.py
  pysat/tests/test_instrument_listgen.py
  pysat/tests/test_instruments.py
  pysat/utils/_core.py
  pysat/utils/registry.py
Labels: breaking change

#1144 STY: fix whitespace checks
  CHANGELOG.md
  pyproject.toml
  pysat/_constellation.py
  pysat/_instrument.py
  pysat/_meta.py
  pysat/_orbits.py
  pysat/instruments/methods/general.py
  pysat/tests/test_files.py
  pysat/tests/test_utils_io.py
  pysat/utils/time.py
  test_requirements.txt
Labels: style

#1149 MAINT: Update `use_header` handling
  CHANGELOG.md
  docs/tutorial/tutorial_basics.rst
  pysat/_instrument.py
  pysat/constellations/testing.py
  pysat/constellations/testing_partial.py
  pysat/tests/classes/cls_instrument_access.py
  pysat/tests/classes/cls_instrument_library.py
  pysat/tests/classes/cls_instrument_property.py
  pysat/tests/test_constellation.py
  pysat/tests/test_files.py
  pysat/tests/test_instrument.py
  pysat/tests/test_instrument_custom.py
  pysat/tests/test_instrument_index.py
  pysat/tests/test_instrument_padding.py
  pysat/tests/test_instruments.py
  pysat/tests/test_meta.py
  pysat/tests/test_methods_general.py
  pysat/tests/test_methods_testing.py
  pysat/tests/test_orbits.py
  pysat/tests/test_utils.py
  pysat/tests/test_utils_coords.py
  pysat/tests/test_utils_files.py
  pysat/tests/test_utils_io.py
Labels: breaking change

#1154 ENH: added `drop` and `__delitem__` to Instrument and Constellation classes
  CHANGELOG.md
  pysat/_constellation.py
  pysat/_instrument.py
  pysat/tests/classes/cls_instrument_access.py
  pysat/tests/test_constellation.py
Labels: enhancement
